body {
    background-color: #121212; /* Koyu gri */
    color: white; /* Metin rengi */
    
  }
  
  .container {
    margin: 0 auto; /* Ortalar */
    padding: 20px 20px 0; /* Üstten, sağdan ve soldan boşluk */
  }

  